:root {
    --primary-color: #7091E6;
    --secondary-color: #3D52A0;
    --background-color: white;
    --text-color: #ADBBDA;
    --error-color: #E74C3C;
    --success-color: #2ECC71;
    --border-color: #DDDDDD;
    --slider-track-color: #ccc;
    --button-hover-color: #38B0A6;

    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-size-base: 16px;

    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;

    --border-radius: 8px;

    --fill: #38B0A6;
}
