@import '../styles/variables.css';


.register-container h2 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: var(--spacing-lg);
}

.register-container input, .register-container button {
    width: 100%;
    padding: var(--spacing-sm);
    font-size: 1rem;
    margin-bottom: var(--spacing-md);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-sizing: border-box;
}

.register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: var(--spacing-lg);
    background-color: #ffffff;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: var(--font-family);
}

.register-container button {
    font-size: 1rem;
    color: #ffffff;
    background-color: var(--secondary-color);
    border: none;
}

.register-container button:hover {
    background-color: var(--button-hover-color);
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.error-message {
    color: var(--error-color);
    margin-top: var(--spacing-sm);
    text-align: center;
}

.success-message {
    color: var(--success-color);
    margin-top: var(--spacing-sm);
    text-align: center;
}

.welcome-message {
    text-align: center;
    color: var(--success-color);
    font-size: 1.2rem;
}
